/* 4 - External */
body {
    padding-bottom: 500px;
}

h3 {
    color: green;
}

p { 
    color: blueviolet;
}

/* Algum comentario */
/* outro comentário */

/* classes */
.paragraph {
    background-color: #000;
    color: aqua;
    padding: 5px;
}

/* ids */
#exclusive-title {
    background-color: purple;
    color: yellow;
    padding: 10px;
}