/* 4 - External */
body {
    padding-bottom: 500px;
}

h3 {
    color: green;
}

/* Algum comentario */
/* outro comentário */

/* classes */
.paragraph {
    background-color: #000;
    color: aqua;
    padding: 5px;
}

/* ids */
#exclusive-title {
    background-color: purple;
    color: yellow;
    padding: 10px;
}

/* Ordem das regras */
h2 {
    border-bottom: 2px solid red;
}

.titulo {
    border-bottom: 3px solid blue;
}

#algum-titulo {
    border-bottom: 4px solid green;
}

/* Nome de cores */
.color-name {
    color: crimson;
}

.hex {
    color: #55a398;
}

.hex-2 {
    color: #16282a;
}

/* Aprofundando em Hex */
.simple-hex {
    color: #333;
}

.simple-hex-2 {
    color: #a5f;
}

/* RGB */
.rgb {
    color: rgb(255, 0, 0);
}

.mixed-rgb {
    color: rgb(199, 21, 47)
}

/* RGBA */
.rgba {
    color: rgba(100, 199, 45, 4)
}

/* HSL */
.hsl {
    color: hsl(100, 20%, 50%);
}

.hsl-2 {
    color: hsl(201, 44%, 69%);
}

/* Background-color */
.bg {
    background-color: #000;
    color: yellow;
}

.bg-2 {
    background-color: rgb(200, 20, 40);
    color: #00eaff;
}

/* Background opacity */
.bg-opacity {
    background-color: green;
    opacity: 0.2;
}

.bg-opacity-2 {
    background-color: #999;
    color: #000;
    opacity: 0.8;
}

/* RGBA com opacity */
.rgba-opacity {
    background-color: rgba(90, 120, 20, 0.2);
    color: #000;
}

/* BG Image */
.bg-image {
    background-image: url("../img/nature.jpg");
    padding: 20px;
    color: #fff;
}


/* Centralizando bg image */
.not-centered-bg, 
.centered-bg {
    height: 400px;
    width: 400px;
    background-image: url("../img/bridge.jpg");
}

.centered-bg {
    background-position: center;
    background-size: cover;
}